body{
    font-family: Garamond;
}
.baner{
    background-color: saddlebrown;
    color: white;
    text-align: center;
    height: 50px;
    width: 100%;
}
.lewy{
    background-color: tan;
    height: 500px;
    width: 40%;
}
.prawy1,.prawy2{
    background-color: tan;
    height: 250px;
    width: 60%;
}
.stopka{
    background-color: saddlebrown;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
}
form>*{
    margin: 5px;
}
div{float: left;
}
h1{
    margin-block-start: 0.2em;
}